// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../bootstrap/scss/functions';

// 2. Include any default variable overrides here
$body-bg: #1b2e3b;
$font-family-base: 'Poppins', sans-serif;
$btn-padding-y: 14px;
$btn-padding-x: 24px;
$font-weight-medium: 500;

// 3. Include remainder of required Bootstrap stylesheets
@import '../bootstrap/scss/variables';

// 4. Include any default map overrides here
// Create your own map
$custom-colors: (
  'gable-green': $body-bg,
  'caper': #e1efaf,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Create your own map
$custom-spacers: (
  '10': 10px,
  '20': 20px,
  '30': 30px,
  '40': 40px,
  '50': 50px,
  '70': 70px,
  '100': 100px,
  '200': 200px,
  '250': 250px,
);

// Merge the maps
$spacers: map-merge($spacers, $custom-spacers);

// Create your own map
$custom-fs: (
  '12': 12px,
);

// Merge the maps
$font-sizes: map-merge($font-sizes, $custom-fs);

// 5. Include remainder of required parts
@import '../bootstrap/scss/maps';
@import '../bootstrap/scss/mixins';
@import '../bootstrap/scss/root';

// 6. Include all of Bootstrap
@import '../bootstrap/scss/bootstrap';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../bootstrap/scss/utilities/api';

// 8. Add additional custom code here
img {
  object-fit: cover;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

.nav-link {
  color: tint-color($body-bg, 40%) !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 4px !important;
  font-weight: $font-weight-medium;
  width: fit-content;
  margin: auto;
}

.nav-link.active {
  color: $body-bg !important;
  border-bottom: 2px solid $body-bg;
}

.btn-custom-width {
  width: 100%;
}

.overflow-custom {
  overflow-x: scroll;
}

.fw-medium {
  font-weight: $font-weight-medium;
}

.btn-play-custom {
  backdrop-filter: blur(10px);
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  padding: 18px;
  transform: translate(-50%, -50%);
}

.btn-play-custom:hover {
  border: none;
}

.top-custom--150 {
  top: -50px;
}

.bg-img-email {
  background-image: url('../assets/Subscribe_Email_Background.png');
  background-size: cover;
}

.footer {
  color: #ffffff;

  .nav-footer {
    font-weight: 600;
    margin-bottom: 20px;
  }

  .footer-link {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 16px;
  }

  .footer-link.active {
    color: #e1efaf;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .nav-link {
    margin: auto 15px;
  }

  .btn-custom-width {
    width: auto;
  }

  .overflow-custom {
    overflow-x: auto;
  }

  .top-custom--150 {
    top: -150px !important;
  }
}
